@import 'vars';
@import 'mix';


body{
	margin:0;
  height: 150vh;
  background: linear-gradient(
    to bottom,
    rgb(29, 107, 153),
    rgb(236, 255, 224)
  );
}

header{
  font-family: $fonttwo;
	top:0px;
	left:0px;
  position:fixed;
  width:20em;
  height:11em;
  background-color:$hoverback;
  @include transition1; 
}

h4 {
  font-family: $fonttwo;
	padding-left:5px;
  text-align:center;
  margin-top:-0.6em;
  padding-top:0.3em;
  margin-bottom:0.5em;
  width:19.7em;
  text-transform: uppercase;
  letter-spacing: 1em;
  line-height:130%;
  font-weight: 200;
  border-top:$doubleborder;
  @include transition1;
}

h1 {
 font-family: $fonttwo;
  text-align:center;
  margin-top:0.5em;
  width:13.1em;
  padding-left:7px;
  text-transform: uppercase;
  letter-spacing: 1em;
	font-size:150%;
  font-weight: 200;
  border-bottom:$doubleborder;
  @include transition1;
}

#divv{
  background-color:$opaceback;
  height:150vh;
  margin-left:320px;
  margin-top:175px;
  @include transition2;
}

nav{
  @include flexwrap;
  height:100vh;
  @include juststart;
  -webkit-flex-direction: row; 
  flex-direction: row;  
}

ul{
  a{
    color:$black;
    text-decoration:none;
    @include transition2;
 
    &:hover{
      color:$redhover;
      @include transition2;
      letter-spacing:1px;
      font-family: $fontthree;
      font-weight:600;  
    }
  }
  &.list {
      @include flexwrap;
      font-family: $fontthree;
      -webkit-flex-direction: row; 
      flex-direction: row;
      @include justcenter;
      padding-top:1em;
      padding-bottom:1em;
      margin-left:1em;
  }
  &.exercise {
      font-weight:200;
      font-family: $fonttwo;
      display:block;
      list-style-type:none;

      a:hover{
        font-weight:200;
        font-family: $fonttwo;
        font-size:110%;
      }
  } 
}

.box{
  font-family: $fontthree;
  font-weight:600;
  background-color:$light;
  padding:1em;
  margin:5px;
  @include flexwrap;
  @include square;
  @include transition2;

  &:hover{
    font-family: $fontthree;
    font-weight:600;
    background-color:$hoverback;
    @include transition2;
    @include square;

    a{
      color:$darkblue;

      &:hover{
        color:$redhover;
      }
    }
  }
}













@media (min-width: 320px){

              #divv{
                background-color:$opaceback;
                height:150vh;
                margin-left:0px;
                margin-top:150px; 
                padding:0px;
                z-index:99;
              }

              header{
                font-family: $fontone;
                top:0px;
                left:0px;
                position:fixed;
                width:100vw;
                height:11em;
                z-index:1;
                background-color:$hoverback; 
              }

              h4 {
                font-family: $fontone;
                padding-left:5px;
                text-align:center;
                margin-top:-0.6em;
                padding-top:0.3em;
                margin-bottom:0.5em;
                width:100vw;
                text-transform: uppercase;
                letter-spacing: 1em;
                line-height:130%;
                font-weight: 200;
                border-top:$doubleborder;
              }

              h1 {
                font-family: $fontone;
                text-align:center;
                margin-top:0.5em;
                width:100vw;
                padding-left:7px;
                text-transform: uppercase;
                letter-spacing: 1em;
                font-size:150%;
                font-weight: 200;
                border-bottom:$doubleborder;
              } 

              nav{
                margin:0px;
                padding:0px;
                @include justcenter;
                
              }

              .box{
                background-color:$light;
                padding:1em;
                margin-top:1px;
                @include flexwrap;
                width:100vw;
                height:8em;
                @include transition2;

                &:hover{
                  background-color:$hoverback;
                  @include transition2;
                  font-family: $fontthree;
                  font-weight:600;
                  width:100vw;
                  height:8em;
                }
              }

}




@media (min-width: 760px){

              #divv{
                background-color:$opaceback;
                height:150vh;
                margin-left:0px;
                margin-top:110px;
                z-index:99;
              }

              header{
                font-family: $fontone;
                top:0px;
                left:0px;
                position:fixed;
                width:100vw;
                height:7em;
                z-index:1;
                background-color:$hoverback;   
              }

              h4 {
                font-family: $fontone;
                padding-left:5px;
                text-align:center;
                margin-top:-0.6em;
                padding-top:0.3em;
                margin-bottom:0.5em;
                width:100vw;
                text-transform: uppercase;
                letter-spacing: 1em;
                line-height:130%;
                font-weight: 200;
                border-top:$doubleborder;
              }

              h1 {
                font-family: $fontone;
                text-align:center;
                margin-top:0.5em;
                width:100vw;
                padding-left:7px;
                text-transform: uppercase;
                letter-spacing: 1em;
                font-size:150%;
                font-weight: 200;
                border-bottom:$doubleborder;
              }    

              nav{
                @include justcenter;
              }

              .box{
                background-color:$light;
                padding:1em;
                margin:1em;
                @include flexwrap;
                @include square;
                @include transition2;
               
                &:hover{
                  background-color:$hoverback;
                  @include transition2;
                  @include square;
                  font-family:$fontthree;
                  font-weight:600;
                }
              }

}



@media (min-width: 1024px) {

              #divv{
                background-color:$opaceback;
                height:150vh;
                margin-left:320px;
                margin-top:175px;
              }

              header{
                font-family: $fontone;
                top:0px;
                left:0px;
                position:fixed;
                width:20em;
                height:11em;
                z-index:2;
                background-color:$hoverback; 
              }

              h4 {
                font-family: $fontone;
                padding-left:5px;
                text-align:center;
                margin-top:-0.6em;
                padding-top:0.3em;
                margin-bottom:0.5em;
                width:19.7em;
                text-transform: uppercase;
                letter-spacing: 1em;
                line-height:130%;
                font-weight: 200;
                border-top:$doubleborder;
              }

              h1 {
                font-family: $fontone;
                text-align:center;
                margin-top:0.5em;
                width:13.1em;
                padding-left:7px;
                text-transform: uppercase;
                letter-spacing: 1em;
                font-size:150%;
                font-weight: 200;
                border-bottom:$doubleborder;
              } 

              nav{
                @include juststart;   
              }

              .box{
                background-color:$light;
                padding:1em;
                margin:1em;
                @include flexwrap;
                
                @include transition2;
               
                &:hover{
                  background-color:$hoverback;
                  @include transition2;
                  @include square;
                  font-family:$fontthree;
                  font-weight:600;

                }
              }

}
