* {
	font-family: helvetica;
	color: #000;
}
body{
    height: 7000px;
    background: linear-gradient(
    to bottom,
    rgb(255, 153, 0),
    rgb(204, 204, 0)
  );
}
header{
	margin-top:0;
	margin-left:0;
    position:fixed;
    width:20em;
    height:10em;
    background-color:rgba(255,255,255,0.4);
   
}
h4 {
  text-align:center;
  margin-top:-0.6em;
  padding-top:0.1em;
  margin-bottom:0.5em;
  width:20em;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-weight: 200;
  border-top:double 3px black;
}
h2 {
  text-align:center;
  margin-top:0.5em;
  width:13.3em;
  
  text-transform: uppercase;
  letter-spacing: 1em;
  font-weight: 200;
  border-bottom:double 3px black;
}


ul {
  margin-left:25em;
}

