$fontone:Helvetica;
$fonttwo:'Ubuntu Mono', monospace;
$fontthree:'Arvo', serif;

$black:#000;
$darkblue:rgb(0, 56, 63);
$redhover:rgb(245, 69, 0);
$light:rgb(236, 255, 224);
$hoverback:rgb(160, 250, 255);
$opaceback:rgba(186, 196, 180, 0.6);